<%- include('../_layouts/adminHeader') %>

<br />

<div class="container">
  <h1 class="mb-3"><%= title %></h1>
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Body</th>
      </tr>
    </thead>

    <tbody>
      <% reviews.forEach(function(review) { %>

      <tr>
        <td>
          <%= review.name %>
        </td>

        <td>
          <% let date = review.date %> <%= generateDate(date, 'MMM Do YYYY') %>
        </td>
        <td>
          <a href="/admin/feedback/<%= review.id %>" class="btn btn-info"
            >More info</a
          >
        </td>
      </tr>

      <% } ) %>
    </tbody>
  </table>
</div>

<%- include('../_layouts/adminFooter') %>
