<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-white">
<div class="navbar-nav">
    <a class="navbar-brand" href="/"><img width="70px" src="/images/logo_size.png"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <% pages.forEach(function(page) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/nav/<%= page.slug %>">
                  <%= page.title %>
                </a>
                </li>
                    <% } )%>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/products">Shop</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/feedback/review">Feedback</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/cart/checkout">My cart(
                      <% if (typeof cart !== 'undefined') { %>
                        <%= cart.length %>
                          <% } else { %>
                            empty
                            <% } %>
                              )
                    </a>
                    </li>
                    
                    
                      <% if (user) { %>

                      <li class="nav-item">
                        <a class="nav-link">Welcome
                            <%= user.name %>
                          </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                      </li>
                        

                        <% } else { %>

                        <li class="nav-item">
                          <a class="nav-link" href="/users/register">Register</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/users/login">Log in</a>
                        </li>

                          <% } %>

                            <% if (user && user.admin == 1) { %>

                            <li class="nav-item">
                              <a class="nav-link" href="/admin/pages">Dashboard</a>
                            </li>

                              <% } %>


      </ul>
    </div>
    </div>
  </nav>